# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Dependencies
node_modules

# `dist` dir
dist
dist-ssr
*.local

# Ignore Production
/build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# VSCode
.vscode
.vscode/*
.vs
.vs/*